<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365694737933-31ps02m8j2s41jvk4ngkenco8vuteesc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365694737933-31ps02m8j2s41jvk4ngkenco8vuteesc</string>
	<key>API_KEY</key>
	<string>AIzaSyCcxwgQ7c8O2u2IjyaRUq5xmQApN_yXWPU</string>
	<key>GCM_SENDER_ID</key>
	<string>365694737933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginFlutter2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>login-flutter2</string>
	<key>STORAGE_BUCKET</key>
	<string>login-flutter2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365694737933:ios:e5e207bc86a9c2f0ff3f44</string>
</dict>
</plist>